body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    background-image: url(../image/background.jpg);
    /*Azul claro foto criado por benzoix - br.freepik.com</a>*/
    background-size:cover;
}

@font-face {
    font-family: 'Empire';
    src: url(./fontes/Cinzel_Decorative/CinzelDecorative-Regular.ttf) format(truetype), url(./fontes/Cinzel_Decorative/CinzelDecorative-Bold.ttf) format(truetype), url(./fontes/Cinzel_Decorative/CinzelDecorative-Black.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

.LogoSite {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#logo1 {
    max-width: 300px;
}

.MainMenu {
    margin: 0;
    padding: 0;
}

.ConteudoMenu {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.BoxMenu {
    text-align: center;
    margin: 1px;
    padding: 0;
}

.Menu {
    float: left;
    list-style: none;
    margin: 7px;
    font-size: 20px;
    font-family: 'Empire';
}

.linkmenu {
    color: #002667;
    text-decoration: none;
}

.linkmenu:hover {
    color: #FF895e;
}

.Conteudo {
    max-width: 80%;
    margin: auto;
    color: black;
    padding: 10px;
    background-color: #ffffff2f;
    border: solid;
    border-color: #ff895e59;
    border-radius: 15px;
    border-width: 0.1px;
    margin-bottom: 15px;
    text-align: center;
}

.Produtos{
    display:inline-table;
    margin: 10px;
    text-align: center;
    min-height: 300px;
    
    
}
.fotolingerie{
    max-width: 250px;
    border: solid;
    border-radius: 20%;
    border-color: #ff895e59;
    border-width: 0.1px;
    margin: 5px;
}

footer {
    padding: 0;
    background-color: black;
    text-align: center;
    color: white;
}



@media screen and (max-width: 700px) {
    .LogoSite {
        margin: auto;
        text-align: center;
        padding: 10px;

    }

    #logo1 {
        max-width: 300px;
    }

    .MainMenu {
        margin: 0;
        padding: 0;
    }

    .ConteudoMenu {

        display: flex;
        justify-content: center;
    }

    .BoxMenu {

        margin: 1px;
        padding: 0;

    }

    .Menu {
        float: none;
        list-style: none;
        margin: 7px;
        font-size: 20px;
        font-family: 'Empire';
    }

    .linkmenu {
        color: #002667;
        text-decoration: none;
    }

    .linkmenu:hover {
        color: #FF895e;
    }

    .Conteudo {
        max-width: 80%;
        margin: auto;
        color: black;
        padding: 15px;
        background-color: #ffffff2f;
        border: solid;
        border-color: #FF895e;
        border-radius: 15px;
        border-width: 0.5px;
        margin-bottom: 15px;

    }

    .textocontato {
        margin: auto;
        max-width: 70%;
        font-size: 20px;
        padding: 5px;
    }

    h1 {
        text-align: center;
        margin: auto;
        font-size: 30px;
        padding: 5px;

    }

    footer {
        padding: 0;
        background-color: black;
        text-align: center;
        color: white;
    }
}